---
title:
subtitle: Our team
date: 2016-08-15 12:05:27
bigimgs:
  - src: /team/new-zealand-225540_1280.jpg
    desc: by MartinStr
---
link(rel="stylesheet", href="/team/team.css")
p(style="font-size: 10px")
  | ※諸事情により今は一人になってしまいました。<br>
  | 　スポンサー様もしくは対等なパートナー様、になってもよいとお考えの方、ぜひご相談くださいませ！
section.profile#satot
  h1
    | Toshimitsu<br> Sato
    span.small(style="margin-left: 30px") / Senior Partner / sato1043@updater.cc
  table.responsive
    tr
      td
      td
    tr
      td: h4 サマリー
      td
        p
          | 私はソフトウェアエンジニアです。この職種としてはシニアです。
          | システムにしたりプログラムを書いたりして問題を解決することが好きで、得意です。
          | またそのような問題を放置できない性格でもあります。
          | これまでの人生の大半をソフトウェア開発についての技術習得に費やしており、
          | なるべくそれを活かせるように情熱的に行動を以って振舞ってきました。
        p
          | 近年注目し主な仕事としているのはウェブアプリケーションの周辺で、
          | 直近の６年はJavaScriptによるフロントエンド、サーバーサイドの開発に集中しました。
          | それ以前にperlを愛用していたのでライトウェイト言語に抵抗はありません。
          | またプログラマとしてはC/C++言語がベースです。
        p
          | 直近の２年は不動産価値の分析テック企業のフロントエンドアプリケーションに携わりました。
          | 不動産査定の実際を機械学習で解析し、実売価格や周辺情報と並べて地図にプロットすることで顧客の判断をサポートします。
          | これは AngularJS 1.xとNode.js v4で構成したフロント・バックエンドアプリケーションをDockerコンテナ上にデプロイします。
          | これらのすべてのアプリケーションはAWS上で動作しており、そのネットワークとサーバの構築、REST APIの実装も行いました。

        h3 1996~ プログラマ
        h3 2009~ フリーランス/請負
    tr
      td: h4 保有スキル
      td
        ul.summary(style="font-size: 10px")
          li ※ An item that categorized in "Major" is using or have used in a production environment.
          li ※ "Minor" is using or have used in a production but it's sub project or so.

        h3 Process Tools
        h6 Major
        ul.skill
          li Some parts of<br> Agile & Scrum
          li Iterational Development
          li OOP
          li UML
          li Remote work
          li GoogleApps
          li Slack
          li MindMap
          li White Board !
        h6 Minor
        ul.skill.minor
          li BDD/TDD

        h3 JavaScript
        h6 Major
        ul.skill
          li ES6
          li AngularJS
          li Node.js
          li Express
          li WebPack
          li jQuery
        h6 Minor
        ul.skill.minor
          li TypeScript
          li ReactJS
          li D3.js
          li Electron
          li PhoneGap

        h3 APIs
        h6 Major
        ul.skill
          li Google Maps
          li Google Geocode
          li Twitter

        h3 AWS Platform
        h6 Major
        ul.skill
          li VPC
          li ELB
          li ASG
          li EC2
          li S3
          li SNS
          li CloudWatch
          li Route53
        h6 Minor
        ul.skill.minor
          li CloudFormation
          li CloudFront
          li lambda
          li RDS MySQL
          li SES
          li ACM

        h3 Other Platforms
        h6 Major
        ul.skill
          li TCP/IP Network
          li Server construction
          li Ubuntu
          li CentOS
          li chef
          li Docker
          li DockerCompose
          li Heroku
          li MongoDB
          li MySQL
          li nginx
          li apache
          li MacOS X
        h6 Minor
        ul.skill.minor
          li Redis
          li ElasticSearch
          li kibana

        h3 Editing/Versioning
        h6 Major
        ul.skill
          li git
          li GitHub
          li JetBrains
          li vim
          li Jenkins CI
          li Emacs19

        h3 Other Computer Languages
        h6 Major
        ul.skill
          li C/C++ 9x
          li Linux SysCalls
          li B-Shell Script
          li Perl5 OOP
          li CakePHP3
          li WIN32
          li C#.NET Forms
          li Ruby on Rails4
          li Java4

        p: h6 and many studied skills. please ask me!

        h3 Not an IT :)
        h6 Major
        ul.skill
          li Used PC geek shop's<br> PC maintainer
          li Fishmonger clerk
          li Nerd toy shop<br> clerk & buyer

    tr
      td: h4 印象的な仕事
      td
        p: h4 以下のプロジェクトはすべて、幾つかのアジャイルプラクティスを組み合わせて運用していました。

        p
          h3 不動産テック
          p
            | 直近の２年は不動産価値の分析テック企業のフロントエンドアプリケーションに携わりました。
            | 不動産査定の実際を機械学習で解析し、実売価格や周辺情報と並べて地図にプロットすることで顧客の判断をサポートします。
            | バックエンドが用意した相場と推定価格、購入判断に役立つデータなどを地図へマッピング、検索するアプリケーションです。
            | これは AngularJS 1.xとNode.js v4で構成したフロント・バックエンドアプリケーションをDockerコンテナ上にデプロイします。
            | これらのすべてのアプリケーションはAWS上で動作しており、そのネットワークとサーバの構築、REST APIの実装も行いました。
          h6 YahooMaps | AngularJS | D3.js | WebPack | Node.js | Docker | AWS

        p
          h3 画像認識による品質管理
          p
            | ３年ほど前短期間ですが、機械学習と画像認識により工場内装置の品質管理指標を読み取って可視化するプロジェクトに関わりました。
            | インダストリー4.0の一翼を担おうとした試験的なプロジェクトで、IoT化していない製造装置からデータを取集可能にすることができました。
            | 私の担当は収集後のデータの可視化ウェブアプリで、Ruby on Rails 4 とD3.jsを使ってグラフを描きました。
            | アプリケーションはAWS上で動いていました。
          h6 Ruby on Rails 4 | D3.js | AWS

        p
          h3 スマートフォンゲームのバックエンド
          p
            | ４年ほど前〜２年間、スマートフォンゲームのバックオフィスで開発を行いました。
            | KPI集計やグラフによる見える化することで販売物の成果や動向を探るための部署でした。
            | perlによるサーバサイドと、この頃出たてのBackborn.jsとRequireJSを組合せてアプリケーションにしました。
            | またここでは、それまでExcelで手起こししていたゲームデータを自動生成するC#アプリケーションの実装に携わり、好評を得ました。
          h6 perl5 | Backbone.js | C#.NET | C# Office拡張

        p
          h3 物流コンテナのレーザー感光ラベル印刷機
          p
            | ６年ほど前〜２年間、物流コンテナのラベル印刷機のソフトウェアと簡単な部分のハードウエアを担当しました。
            | マイクロ秒単位で放ったレーザー光を、２枚の小さな鏡でXY軸に動かし平面化して、物流コンテナ用の感光ラベルに文字と図形を描きます。
            | またこのラベルは似たような手法でラベル全体を消去できるので、
            | それまで手作業で行っていたラベルの貼り付け・取り外しを省力化でき、コスト・スピードが飛躍的に向上します。
            | ここではWindows EmbeddedとボードPCの提供を受けてC++によるGUIとデータのバイナリ化、ハードウェアのコールなどを実装しました。
            | ハードウェアの性能を最大限引き出すソフトウェアチューニングに苦労したことを覚えています。
          h6 C++ | Windows Embedded

    tr
      td: h4 love
      td
        p
          | My family, especially our children.<br>
          | To raise our children to independent person.<br>
          | Agile Development.<br>
          | Now I'm studying iOS development with Swift language.<br>
          | Some mangas and some tv animations,<br>
          | Pokemon game and MMORPG ver. of DragonQuest.<br>
          | Favorite music artists: LedZeppelin, Eric Clapton, Aretha Franklin, and so on.<br>


