section.container#cover
  .row
    .col-lg-12
      .card
        img.card-img-top(src="" alt="")
        .card-block.text-center
          h1.card-title.
            Imagine <span class="visible-xs-inline"><br></span> happy days,<br>
            Update life&thinking!<br>
          p.card-text
            .small.
              <i><b>Updater LLC.</b> will draw <b><i>your dreams</i></b><span class="visible-xs-inline"><br></span> as a better paintbrush!, <br>
              here for you, with <i class="em em-gift_heart"></i> and<span class="visible-xs-inline"><br></span> <b>our modern software engineering</b> :)<br></i>
          p.card-text
            .small.
              Updater LLC.がよりよい筆となり、<span class="visible-xs-inline"><br></span>あなたの夢を形にします。<br>
              あなたの変化と成長を<span class="visible-xs-inline"><br></span>現代的なソフトウェア開発で支えます。<br>
              幸せな毎日をイメージして<span class="visible-xs-inline"><br></span>生活と思考を更新しましょう！ <br>
          a.btn.btn-primary(href=url_for('/about')).
            a few more about us →

