section.container#Promise
  .row
    .col-xs-12
      .card.z-depth-2
        .card-block.text-left
          h3 UpdaterLLC のお約束：

          h4 UpdaterLLC. は誠実をモットーに対応いたします。
          ul
            li 貴社のビジネスパートナーとして振舞えるよう努力します。
            li 互いに前向きになれるように、やるべきやらざるべきを考えます。
            li なんにせよ、柔軟に対応いたします。
            li ２週間単位でご契約可能です。
            li この単位でご解約可能な契約も可能です。
            li グレーなビジネスは引受け兼ねます。

          h4 くりかえしお話を伺いつつ、お仕事を進めていきます。
          ul
            li どんな状況であれ、つねづね提案いたします。
            li 仕様書がなくても構いません。
            li お話を進める中で最低限の情報から仕様を練りあげます。
            li 互いに安心できるまで、対面を交えてお話しいたます。
            li コストが許す範囲で、随時話し合い、改善します。
            li 受け身である必要のある仕事はお引受けかねます。

          h4 秘密を守り、営業秘密を口外しません。
          ul
            li 法人として一般的な機密保持契約を締結できます。
            li 業務的な論理を含むプログラムを公開流用いたしません。
            li 断片的プログラムテクをツイートしたりする時はあります。

          h4 幅広くお引受けいたします。
          ul
            li ネットワーク、クラウド構築
            li サーバ作成、ミドルウェア設定
            li プログラム作成、テスト
            li メンテナンス、実運用、定常監視などの補助
            li それらを総合的に作業配分します。
            li スモールスタートと継続的な改善を目指します。

          h4 制作は、機密保持契約を結んだ上で、持ち帰って行います。
          ul
            li 作業場所や機材のご準備は要りません。
            li ただし必要な追加購入をご負担いただくことがあります。
            li ネットワークやサーバ利用料等、実費をご負担いただきます。
            li 運用監視はお客様に実施いただきます。
            li 必要な場合には、運用監視をお引受けできるご相談も承ります。

          p
            | 以上よろしくお願いいたします！（2016/7/1 作成、改訂なし）<br>
            | なお、規約はご相談のうえ個別の契約で上書きいたします。その点、ご心配は無用です。
