section.container#WhatWeDo
  .row
    .col-xs-12
      .card.z-depth-2
        .card-block.text-center
          h4.card-text.
            Our world should be improved more,<span class="hidden-xs"><br></span> especially by software.<br>
          h4.card-text.
            We will instantiate software for the people <span class="hidden-xs"><br></span>
            who want to foster knowledge, skills, motivation, to improve life and future, to aim at independence.<br>
          h4.card-text.
            And to do that, we will continue to be the company who make software in a free-thinking way.<br>
          p.card-text.
            <span class="hidden-xs"><br></span>
          p.card-text.
            私たちの世界はより改善されるべきで、<span class="visible-xs-inline"><br></span>ソフトウェアこそ手段です。<br>
          p.card-text.
            私達は、自立を目指す世界中の人たちのために<span class="hidden-xs"><br></span>
            今の生活・人生・未来を改善したり<span class="hidden-xs"><br></span>
            知識・スキル・意欲の醸成を助けたりするために、<span class="hidden-xs"><br></span>
            ソフトウェアを具体化し、提供いたします。<br>
          p.card-text.
            またそのために、私たちはより自由な発想で<span class="hidden-xs"><br></span>
            ソフトウェアを作る会社であり続けます。<br>


