---
title:
subtitle: a few more about Updater LLC.
date: 2016-08-12 15:25:38
bigimgs:
  - src: /about/IMG_3711.png
    desc: a park road near the office.
---
.company-profile
  h4 Company Profile.
  table.responsive(style="width: 100%")
    tr(style="display:none")
      td
      td
    tr
      td <blockquote>会社名 / Company Name</blockquote>
      td Updater合同会社 / Updater LLC.
    tr
      td <blockquote>法人番号 / Corporate Number</blockquote>
      td 7-0106-0300-5792
    tr
      td <blockquote>会社URL / Company URL</blockquote>
      td https://www.updater.cc
    tr
      td <blockquote>設立 / Established in</blockquote>
      td 2015年3月 / March 13, 2015
    tr
      td <blockquote>資本金 / Paid-up Capital</blockquote>
      td 500,000円 / JPY 500,000
    tr
      td <blockquote>年間売上高 / Yearly Turnover</blockquote>
      td.
        １期 売上高 1300万円<br>
        First period JPY 13M<span class="visible-xs-inline"><br>&nbsp;&nbsp;</span> (Mar.,2015 ~Feb.,2016)<br>
    tr
      td <blockquote>取引銀行 / Our Banks</blockquote>
      td.
        ゆうちょ銀行 <span class="visible-xs-inline"><br></span>/ JAPAN POST BANK Co.,Ltd.<br>
        住信SBIネット銀行 <br>/ SBI Sumishin NetBank, Ltd.
    tr
      td <blockquote>顧問 / Advisor</blockquote>
      td.
        東京IR会計 おがわ会計事務所様
        <a href="http://www.ogawa21.com/" target="_blank"><i class="fa fa-external-link" aria-hidden="true" style="margin-right: 5px; margin-left: 1px"></i></a>
    tr
      td <blockquote>所属団体 / Organizations</blockquote>
      td.
        東京商工会議所 <span class="visible-xs-inline"><br></span>/ The Tokyo CCI.<small>(正会員)</small>
        <a href="http://www.tokyo-cci.or.jp/" target="_blank"><i class="fa fa-external-link" aria-hidden="true" style="margin-right: 5px; margin-left: 1px"></i></a>
        <br>
    tr
      td <blockquote>事業内容 / Business description</blockquote>
      td.
        ソフトウェア開発、受託開発<br>
        Software engineering and <span class="visible-xs-inline"><br></span>Contract development<br>
    tr
      td <blockquote>社員数 / Num of Employees</blockquote>
      td 2名（2016年4月現在）
    tr
      td <blockquote>代表者 / Representative</blockquote>
      td 佐藤敏充 / Toshimitsu Sato<span class="visible-xs-inline"><br></span> (Senior Partner)
    tr
      td <blockquote>所在地 / Company Address</blockquote>
      td.small
        .small 〒103-0014<br>東京都中央区日本橋蛎殻町1-13-1 <span class="visible-xs-inline"><br></span> ユニゾ蠣殻町北島ビル B1F-A
        .small B1F-A, Unizo-Kitazima Bldg.,<br>1-13-1 Nihonbashi kakigarachou<span class="visible-xs-inline"><br></span> Chuo-ku, Tokyo 103-0014
        .small
          .small.
            ご連絡いただけましたら<span class="visible-xs-inline"><br></span>こちらからお伺いいたします。<br>
            この蠣殼町辺りは<span class="visible-xs-inline"><br></span>落ち着いて美味しいお店がございますので、<br>お近くにお寄りの際はランチなど<span class="visible-xs-inline"><br></span>ご一緒いかがでしょうか。
    tr
      td <blockquote>連絡先 / Contact</blockquote>
      td
        a(href='mailto:hello@updater.cc' alt='email')
          i.fa.fa-2x.fa-envelope(style="vertical-align: sub;")
          |  Email to hello@updater.cc
        br
        a(href='tel:0368694457' alt='TEL')
          i.fa.fa-2x.fa-phone(style="vertical-align: sub; padding: 5px 5px 3px 5px;")
          |  03-6869-4457
        br
        a(href='fax:0368694480' alt='FAX')
          i.fa.fa-2x.fa-fax(style="vertical-align: sub;")
          |  03-6869-4480
        br
        a(href='https://twitter.com/sato1043' alt='twitter')
          i.fa.fa-2x.fa-twitter(style="vertical-align: sub;")
          |  @sato1043 on Twitter
        br
        a(href='https://github.com/sato1043' alt='github')
          i.fa.fa-2x.fa-github(style="vertical-align: sub;")
          |  UpdaterLLC. on Github

.company-profile
  h4 history
  table.responsive(style="width: 100%")
    tr(style="display:none")
      td
      td
    tr
      td <blockquote> 2009~</blockquote>
      td(style="white-space: normal")
        | 代表がフリーエンジニアとして<span class="visible-xs-inline"><br></span>活動開始<br>
        | Toshimitsu Sato (Senior Partner) begin to work as free engineer.
    tr
      td <blockquote> 13 March, 2015</blockquote>
      td(style="white-space: normal")
        | Updater合同会社設立<br>
        | Update LLC. established.
    tr
      td <blockquote> 29 February, 2016</blockquote>
      td(style="white-space: normal")
        | １期目 売上高 1300万円<br>
        | in the first period, yearly turnover JPY 13M (Mar.,2015 ~Feb.,2016)

.company-map
  h4 map
  #map
  script(src='//maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCWSGNgvSAMst43Au2AcowCoswXQHcfzzM')
  script(type='text/javascript').
    google.maps.event.addDomListener(window, 'load', function init_map() {
      var ll = new google.maps.LatLng(35.6837381, 139.7820021);
      var map = new google.maps.Map(document.getElementById('map'), { zoom: 16, center: ll, mapTypeId: google.maps.MapTypeId.ROADMAP, scrollwheel: false, scaleControl: true });
      var marker = new google.maps.Marker({map: map, position: ll});
      var infowindow = new google.maps.InfoWindow({content: '<strong>Updater LLC. </strong><br>中央区日本橋蛎殻町1-13-1<br>ユニゾ蠣殼町北島ビルB1F-A'});
      google.maps.event.addListener(marker, 'click', function () { infowindow.open(map, marker) });
      infowindow.open(map, marker);
    });
  h6 ※ <b>日本橋北島ビル</b> は ユニゾ蠣殻町北島ビル の<b>旧名称</b>です。

