---
title:
subtitle: about privacy
date: 2020-05-02 11:29:00
---
.company-profile
  h4 プライバシーポリシー
  p.
   　Updater合同会社(以下当社)は本サイト上で提供するサービス(以下本サービス)における利用者の個人情報の取扱いについて、
    以下のとおりプライバシーポリシー(以下本ポリシー)を定めます。#[br]
    　また当社採用への応募者様個人情報は当ポリシーに基づき適切に管理・運用いたします。
    当社採用へのご応募にあたっては本ポリシーへご同意いただくこととさせていただきます。

  table.responsive(style="table-layout: fixed; width: 100%; margin-top: 0;")
    tr(style="display:none")
      td
      td
    tr
      td(style="width: 240px; min-width: 240px; max-width: 240px") #[blockquote １. 個人情報の定義]
      td(style="white-space: normal").
        本ポリシーにおける「個人情報」とは、個人情報の保護に関する法律に規定される「個人情報」及び当社サービスの利用に係るID/パスワード等認証情報を指します。
    tr
      td(style="white-space: normal") #[blockquote ２. 個人情報の取得]
      td(style="white-space: normal").
        当社は、利用目的の達成に必要な範囲で個人情報を適正に取得し、不正な手段による取得を一切いたしません。
    tr
      td(style="white-space: normal") #[blockquote ３. 利用目的]
      td(style="white-space: normal")
        | 当社は、取得した個人情報を以下の目的で利用いたします。
        ol
          li 当社サービスの業務遂行に関する情報の通知
          li 当社サービスの商品・サービスの発送
          li 当社アフターサービスのご提供およびその情報の通知
          li 当社新サービスのご提供およびその情報の通知
          li 当社サービスに関するお問い合わせ等への対応
          li 当社サービスメンテナンス等重要なお知らせの通知
          li 当社採用へのご応募へのご連絡、採用後人事・労務業務での使用
          li 当社サービスに関する規約等の変更等の通知
          li 上記の利用目的に付随する目的
    tr
      td(style="white-space: normal") #[blockquote ４. 管理方法]
      td(style="white-space: normal").
        当社へご提供頂いた個人情報は当社にて適切に管理し、しかるべき時しかるべき手段で破棄いたします。
        ご提供頂いた個人情報はしかるべき手段にて適切に保管いたしますが、必ず特定の期間保管する等の義務は負いません。
        したがって個人情報の返却の義務も負いません。
        なお当社へのご提供の体裁をとるものであっても、その内容がこれにあたらない場合は本ポリシーの対象外といたします。
    tr
      td(style="white-space: normal") #[blockquote ５. 第三者提供の禁止]
      td(style="white-space: normal").
        当社は、法令に定められた場合を除き、あらかじめ利用者の同意を得ずに第三者（日本国外にあるも者を含む）への個人情報提供をいたしません。
    tr
      td(style="white-space: normal") #[blockquote ６. 提携先との共同利用]
      td(style="white-space: normal")
        | 前項の定めにかかわらず，次に掲げる場合には，当該情報の提供先は第三者に該当しないものといたします。
        ol
          li 当社が利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合
          li.
            個人情報を特定の者と共同利用する場合であって、その旨並びに共同して利用される個人情報の項目、
            共同して利用する者の範囲、利用する者の利用目的および当該個人情報の管理について責任を有する者の氏名または名称について、
            あらかじめ本人に通知し、または本人が容易に知り得る状態に置いた場合
    tr
      td(style="white-space: normal") #[blockquote ７. 開示、訂正、利用停止、削除]
      td(style="white-space: normal").
        当社は、利用者から個人情報の開示、訂正、利用停止、削除を求められたときは、法令に定められた場合を除き、
        本人確認の上で遅滞なくその必要を調査し、必要を認めた場合に開示、訂正、利用停止、削除を行います。
        ただし、個人情報の開示、訂正、利用停止、削除につきましては、１件あたり1,000円の手数料を頂戴しておりますので、あらかじめご了承ください。
    tr
      td(style="white-space: normal") #[blockquote ８. SSL セキュリティについて]
      td(style="white-space: normal").
        当社はウェブサイト経由で個人情報を取得する場合に必ず SSL セキュリティを用いることといたします。
    tr
      td(style="white-space: normal") #[blockquote ９. Cookie について]
      td(style="white-space: normal").
        当社がウェブサイトで Cookie を利用する場合、その Cookie によって利用者個人の身元を特定しないことといたします。
    tr
      td(style="white-space: normal") #[blockquote 10. お問い合わせ窓口]
      td(style="white-space: normal")
        | 個人情報の取り扱いに関するお問い合わせは、下記の窓口までお願いいたします。#[br]
        a(href='mailto:hello@updater.cc') hello@updater.cc
        | /
        a(href='tel:0368694457') TEL: 03-6869-4457
        | /
        a(href='fax:0368694480') FAX: 03-6869-4480
    tr
      td(style="white-space: normal") #[blockquote 11. 本ポリシーの変更]
      td(style="white-space: normal").
        当社は必要に応じて本ポリシーを変更いたします。
        変更後の本ポリシーはサイト掲載時点から効力を生じるものといたします。
        ただし本ポリシーを変更する場合はその内容を当社のウェブサイト上で表示いたします。
    tr
      td #[blockquote 制定・改定]
      td(style="white-space: normal")
        | 【2020年5月2日制定】
        //- 【2020年5月2日改訂】
